
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


<nav class="navbar navbar-expand-sm navbar-dark" style="height: 100px; background-color: rgb(69, 69, 245);">
    <a href="#" class="navbar-brand">
        Employees Policy
      </a> -->
    
      
        <!-- <ng-container *ngIf="!isAuthenticated()"> -->
        <!-- <a type="button" class="btn btn-primary" routerLink="/login" style="margin: 10px;">Login</a>
        <a type="button" class="btn btn-success" routerLink="/register" style="margin: 10px;">Register</a> -->
        <!-- </ng-container> -->
        
        <!-- <ng-container *ngIf="isAuthenticated()"> -->
          <!-- <a *ngIf="isSeller()" routerLink="/add" style="margin: 10px;">Add Book</a>
          <a *ngIf="isSeller()" routerLink="/seller" style="margin: 10px;">Modify Book</a>
          <button class="btn btn-primary" routerLink="/login" style="margin: 10px;" (click)="logOut()">Logout</button>
        </ng-container> -->
        
    
    
<!-- </nav> -->

<app-dashboard></app-dashboard>

<router-outlet></router-outlet>
